@import "/home/Aftical/.cache/wal/colors-waybar.css";
* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    margin: 1px;
}
window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: @foreground;
    border-bottom: inset 1px @color9;
}
button {
    border: none;
    border-radius: 0;
}
#workspaces button {
    padding: 0 5px;
    background-color: @background;
    color: @color2;
}
#workspaces button.focused,
#workspaces button.active {
    border-bottom: inset 1px @color9;
    color: @color5;
}
#workspaces button.urgent {
    background-color: @foreground;
}
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 10px;
    color: @color5;
    background-color: @background;
}
#window,
#workspaces {
    margin: 3px;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
