* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 12px;
}
window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
}
button {
  border: none;
  border-radius: 0;
  color: #df716d;
}
#workspaces button {
  padding: 3px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #df716d;
  padding-left: 10px;
  padding-right: 10px;
}
#workspaces button.focused {
  color: #df716d;
}
#workspaces button.active {
  color: #eab56b;
}
#pulseaudio {
  color: #dc8459;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0 10 0 10px;
}
#network {
  color: #eeb56d;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0 10 0 10px;
}
#battery {
  color: #83a3c1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0 10 0 10px;
}
#clock,
#backlight,
#mpd,
#tray {
  color: #eab56b;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 0 10 0 10px;
}
